{% extends 'base.html' %}
{% block title %}LEGO{% endblock %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <img src="static/AdobeStock_314844397_lego2.png"   class="img-fluid" >

    <br>
    <br>
    <br>
    <div class="row">

      <p style="font-size: 18px; !important">
       
        The Field Database for Corrosion Inhibitor Application (FD-CIA) system is a digital solution for corrosion inhibitor selection. It provides a customized template to upload the parameters of systems with successful corrosion inhibitor applications. This information is then easily uploaded to the Azure database and analyzed by our statistical functions to visualize the data. The collected historical data and machine learning module deployed on the LEGO web app instantly provides artificial intelligence recommendations to guide product selection or support a proposed application.


      </p>
      <p style="font-size: 18px; !important">
       
        Please use the navigation buttons in the top menu bar to access the functionality of this platform. Contact Jeannine Schmid with any questions.


      </p>

    <br>

    

    <hr>

  </div>
{% endblock %}