{% extends 'base.html' %}

{% block title %}MCT{% endblock %}
{% block content %} 

<div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">FD-CIA</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">PowerBI</h1>
        <ul class="list-unstyled mt-3 mb-4">
           </ul>
        <button onClick="window.open('https://app.powerbi.com/groups/me/reports/a98e9c7d-5445-45ca-bc09-91c964b7fd33?ctid=f43053b2-e911-4847-b825-5210584c418a&pbi_source=linkShare');" type="button" class="w-100 btn btn-lg btn-primary" style="background-color:rgb(58,89,98)  !important">See the Pedigrees</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Something Fun</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">The Far Side</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li> </li>
          <li> </li>
        </ul>
        <button onClick="window.open('https://www.thefarside.com/');" type="button" class="w-100 btn btn-lg btn-primary" style="background-color:rgb(58,89,98)  !important">I need a laugh</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">TechRes</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Knowledge is Power</h1>
        <ul class="list-unstyled mt-3 mb-4">
        </ul>
        <button onClick="window.open('https://championx.sharepoint.com/sites/CHM-CA-SLS-TechnicalResources/CBU%20Technical%20References/Forms/AllItems.aspx');" type="button" class="w-100 btn btn-lg btn-primary" style="background-color:rgb(58,89,98)  !important">Learn Things</button>
      </div>
    </div>
  </div>
  

</div>

{% endblock %}